@media (min-width: $mobile-width) {
  .advice-to-user {
    display: block;

    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: $dark;
  }
}

@media (min-width: $tablet-width) {
  .advice-to-user {
    font-weight: 300;
    font-size: 40px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .advice-to-user {
    font-weight: 300;
    font-size: 50px;
    text-align: center;
  }
}
