.contest-form__promotext {
  
  line-height: 2.14;
  text-align: center;
  color: $dark;
  margin: 0;
  padding-top: 46px;
  margin-bottom: 30px;
  font-size: 14px;
}

fieldset {
  border: none;
}

.contest-form__user-data-fieldset {
  display: flex;
  flex-direction: column;
}

.contest-form__text-label {
  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: $lipstick;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 13px;
  margin-bottom: 5px;
}

.contest-form__text-input {
  width: 255px;
  height: 58px;
  padding-left: 20px;
  border: solid 2px #e5e5e5;
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark;

  margin-left: -11px;

}

.contest-form__legend {
  margin: 0 auto 42px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: $lipstick;
  text-transform: uppercase;
  width: 217px;
}

.contest-form__user-data-fieldset {
  margin-bottom: 30px;

}

.contest-form__checkbox-label {
    font-size: 18px;
    line-height: 1.67;
    text-align: left;
    color: $dark;
  }

  .contest-form__checkbox {
  
    @include visually-hidden;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: -26px;
      left: 0;
      width: 35px;
      height: 35px;
      border: solid 2px #e5e5e5;
      background-color: #ffffff;
    }
    &:checked {
      &:after {
        content: "";
        position: absolute;
        width: 22px;
        height: 16px;
        background-image: url("../../img/icon-yes.svg");
        top: -17px;
        left: 11px;
      }
    }
  }

  .contest-form__achievment-fieldset {

    padding-top: 38px;
    padding-bottom: 44px;
    background-color: $light-grey;

  }

  .contest-form__field {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contest-form__achievment-field {
    margin-bottom: 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .contest-form__checkbox-label {
    padding-left: 65px;
  }

