.contest-form {
  margin-bottom: 55px;
}

.contest-form__header {
  width: 100%;
}

.contest-form__promotext {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 46px;

  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: $dark;
}

.contest-form__promotext--fill {
  display: none;
}

fieldset {
  border: none;
}

.contest-form__form {
  width: 100%;
}

.contest-form__user-data-fieldset {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contest-form__text-label {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 13px;

  font-size: 14px;
  line-height: 2.14;
  text-align: left;
  color: $lipstick;
  text-transform: uppercase;
}

.contest-form__check-label {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark;
}

.contest-form__text-input {
  width: 255px;
  height: 58px;
  margin-left: -11px;
  padding-left: 20px;

  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark;

  border: solid 2px #e5e5e5;
}

.contest-form__legend {
  width: 217px;
  margin: 0 auto 42px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: $lipstick;
  text-transform: uppercase;

  &--platform {
    margin-bottom: 40px;
  }

  &--user-experience {
    margin-bottom: 15px;
  }
}

.contest-form__user-data-fieldset {
  margin-bottom: 30px;
}

.contest-form__checkbox-label {
  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark;
}

.contest-form__checkbox {
  @include visually-hidden;

  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: -26px;
    left: 0;

    width: 35px;
    height: 35px;

    background-color: #ffffff;
    border: solid 2px #e5e5e5;
  }
  &:checked {
    &:after {
      content: "";
      position: absolute;
      top: -17px;
      left: 11px;

      width: 22px;
      height: 16px;

      background-image: url("../../img/icon-yes.svg");
    }
  }
}

.contest-form__achievment-fieldset {
  width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 28px;
  margin-left: 0;
  padding-top: 38px;
  padding-bottom: 46px;

  background-color: $light-grey;
}

.contest-form__user-contacts-fieldset {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.contest-form__user-platform {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  padding-top: 38px;
  padding-right: 0;
  padding-bottom: 46px;
  padding-left: 0;

  background-color: $light-grey;
}

.contest-form__radio-input {
  @include visually-hidden;

  position: relative;
  left: 10px;


  &:before {
    content: "";
    position: absolute;
    top: -27px;
    left: -10px;

    width: 37px;
    height: 37px;

    background-color: $white;
    border: solid 2px #e5e5e5;
    border-radius: 50%;
  }

  &:checked {
    &:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 3px;

      width: 15px;
      height: 15px;

      background-color: $lipstick;
      border-radius: 50%;
    }
  }
}

.contest-form__radio-label {
  padding-left: 70px;

  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark;
}

.contest-form__field {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contest-form__achievment-field {
  margin-bottom: 52px;
}

.contest-form__checkbox-label {
  padding-left: 65px;
}

.contest-form__radio-field {
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contest-form__user-experience {
  margin: 0;
  padding: 0;

  text-align: center;
}

.contest-form__text-area {
  box-sizing: border-box;
  width: 280px;
  height: 200px;
  margin-bottom: 45px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;

  font-size: 18px;
  line-height: 1.67;
  text-align: left;
  color: $dark;

  border: solid 2px #e5e5e5;
}

.contest-form__submit-button {
  width: 280px;
  height: 62px;
  margin-bottom: 35px;
  padding: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
  color: $white;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: solid 2px #2aab6d;
  border-radius: 3px;
}

.contest-form__note {
  display: block;
  margin: 0 auto;

  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: $dark;
  text-transform: uppercase;
}

.lipstick {
  color: $lipstick;
}

@media (min-width: $tablet-width) {
  .contest-form {
    display: flex;
    flex-wrap: wrap;
    padding-top: 92px;
  }
  .contest-form__user-data-fieldset {
    margin: 0;
    padding: 0;
  }
  .contest-form__promotext {
    width: 487px;
    margin: 0 auto;
    padding-top: 0;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }

  .contest-form__promotext--fill {
    display: block;
    margin-bottom: 70px;
  }

  .contest-form__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 52px;
  }

  .contest-form__text-label {
    padding-left: 0;
  }

  .contest-form__text-input {
    width: 100%;
    margin-left: 20px;
  }

  .contest-form__user-platform {
    order: 1;
  }
}
