.footer {
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .footer__container {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
    padding-top: 47px;
  }
}
