.footer--main {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer--main {
    display: block;
  }

  .footer__container {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 127px;
    padding-top: 47px;
  }
}
