.links-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  margin: auto;
}

.links-list__item a {
  background-color: $navigation;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
}
