.links-list {
  display: flex;
  flex-direction: column;
  margin: auto;

  list-style: none;

  @include reset-list;
}

.links-list__item {
  margin: auto;
}

.links-list__item a {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $dark;
}

@media (min-width: $desktop-width) {
  .links-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
