.page-description {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 29px;
  background-image: url('/img/bg-back-mobile@1x.jpg');
  background-repeat: no-repeat;
}

.page-description__header {
  font-size: 24px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $white;
  display: block;
}
