.page-header {
  background-color: $navigation;
  padding-left: $padding;
  padding-right: $padding;
  padding-top: 22px;
}

.page-header__nav-toggle {
  background-image: url('../img/icon-menu-cross.svg');
  background-repeat: no-repeat;
  width: 24px;
  height: 23px;
  background-color: transparent;
  border: none;
}
