.page-description {
  box-sizing: border-box;
  min-height: 394px;

  background-image: url("../../img/iphone-hand-mobile@1x.png"), url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 5% bottom, center top;
  background-size: auto, cover;
}

.page-description__header {
  display: block;
  margin-right: auto;
  margin-left: auto;

  font-weight: 300;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: $white;
}

.page-description__container {
  @include container;

  padding-top: 19px;
}

@media (min-width: $tablet-width) {
  .page-description {
    min-height: 440px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
  }

  .page-description__header {
    width: 348px;

    font-weight: 300;
    font-size: 40px;
    text-align: center;
  }

  // .page-description__header--index {
  //   width: 186px;
  //   height: 126px;
  //   margin-left: 87px;

  //   line-height: 31px;
  // }
}

@media (min-width: $desktop-width) {
  .page-description {
    min-height: 428px;
    padding-top: 169px;

    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  .page-description--index {
    background-image: none;
  }

  .page-description__header {
    width: 348px;

    font-weight: 300;
    font-size: 50px;
    text-align: center;
  }

  .page-description__header--index {
    width: 231px;
    margin-right: 0;
    margin-left: 32px;

    line-height: 60px;
  }

  .page-description__container {
    padding-top: 82px;
  }
}
