.promo-features {
  padding-right: 30px;
  padding-left: 30px;
}

.promo-features__list {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  padding-left: 30px;
  overflow: hidden;

  list-style: none;

  background-color: #f2f2f2;
}

.promo-features ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-features__image {
  margin-right: auto;
  margin-bottom: -40px;
  margin-left: auto;
}
