.promo-item {
  margin-top: 0;
}

.promo-item__text {
  margin-top: 0;

  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  color: #283645;
}

.promo-item__header {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 18px;
  line-height: 1.71;
  text-align: center;
  color: #000000;
}


@media (min-width: $tablet-width) {
  .promo-item__header {
    text-align: left;
  }

  .promo-item__text {
    text-align: left;
  }
}
