@font-face {
  font-family: "OpenSans";

  src: url("../fonts/opensans.woff"), url("../fonts/opensans.woff2");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";

  src: url("../fonts/opensansbold.woff"), url("../fonts/opensansbold.woff2");
}

@font-face {
  font-weight: light;
  font-family: "OpenSans";

  src: url("../fonts/opensanslight.woff"), url("../fonts/opensanslight.woff2");
}
