@mixin reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

@mixin container {
  box-sizing: border-box;
  width: $mobile-container-width;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: $tablet-container-width;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-container-width;
    margin-right: auto;
    margin-left: auto;
  }
}
